@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    height: 100vh;
    background: url(assets/img/background.jpg)no-repeat center/cover;
    padding: 50px 5%;
}
.container {
    position: relative;
    height: 100%;
    background:rgba(255,255,255,.1);
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 30px;
    backdrop-filter: blur(2px);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    /* background: slateblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}
.logo {
    font-size: 35px;
    color:white;
    text-decoration: none;
    font-weight: 600; 

}
.navbar a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}
.navbar a:hover {
background: transparent;
color: slateblue;
box-shadow: none;

}
.navbar a:hover,
.navbar a.active {
    color: slateblue;
}
.home {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    padding: 50px 5% 0;
    color: white;
}
.home-detail h1 {
    font-size: 50px;
    line-height: 1;
    font-weight: 700;
}
.home-detail h2 {
    font-size: 32px;
    font-weight: 500;
}
.home-detail p {
    margin: 10px 0 20px;
}
.home-detail .download-social {
    display: flex;
    align-items: center;
}
.btn {
    display: inline-block;
    padding: 10px 30px;
    background: white;
    border: 2px solid white;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    color: #333;
    text-decoration: none;
     font-weight: 500;
     transition: .5s;
}
.btn:hover {
    background: transparent;
    box-shadow: none;
    color: white;

}
.home-detail .social-icons {

    position: absolute;
    margin-left:200px ;
    top: 360px;
    transition: .5s;
    
    
}
.social-icons a:hover {
    transform: translateY(-5px) scale(1.1); 
    color: aliceblue;
}

.home-detail .social-icons a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-decoration: none;
    

}
.home-img .img-box {
    position: relative;
    width: 28vw;
    height: 28vw;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
overflow: hidden;
}
.home-img .img-box img {
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
    
    
}
